%div{ng: {controller: 'DashboardCtrl'}}
  %h1.lead.text-center Portfolio Risk Assessment Tool
  = link_to "Return to MYeCFO", "http://myecfo.com", class: "btn btn-primary return"
  %hr
  = render 'home/form_investment'
  %hr
  .tab-content
    .tab-pane.active#results
      = render 'home/body'


  = render 'allocations/modal'
  .text-center
    %a{"data-target" => "#myModal", "data-toggle" => "modal"}
      %b Disclosure & Methodology
