.row
  .col-lg-4
    %h2.lead.text-center Portfolio Allocation
    #canvas4
      %svg
  .col-lg-4.worst
    %h2.lead.text-center Worst Annual Returns
    = render 'home/historical_worst_anual_returns'
  .col-lg-4
    %h2.lead.text-center Worst Ending Values
    #canvas
      %svg
%hr
.row
  .col-lg-4.best
    %h2.lead.text-center Average & Best Annual Returns
    = render "home/historical_average"
  .col-lg-4
    %h2.lead.text-center Average Ending Values
    #canvas2
      %svg
  .col-lg-4
    %h2.lead.text-center Best Ending Values
    #canvas3
      %svg

