%h1.lead.text-center Annual Returns on Investments in Compounded Value of $ {{initial_value_combo}}
%th
.row
  .col-lg-4
    %ul.list-group
      %li.list-group-item.list-group-item-success
        %span.badge
          {{formInvestment.stock}} %
        Stocks:
      %li.list-group-item.list-group-item-success
        %span.badge
          {{formInvestment.bonds}} %
        Bonds:
      %li.list-group-item.list-group-item-success
        %span.badge
          {{formInvestment.cash}} %
        Cash:
      %li.list-group-item.list-group-item-info
        %span.badge
          $ {{initial_value_combo}}
        Investment:
%h1.lead.text-center Annualized
%table.table.table-bordered.table-striped
  %thead
    %th
      %td Year
      %td 1 Year
      %td Combo Growth: Stocks & Bonds
      %td 3-Year
      %td 5-Year
      %td 10-Year
      %td 20-Year
  %tbody
    %tr{ng:{ repeat: 'item in calculate_by_year(3,100,formInvestment.stock,formInvestment.bonds,formInvestment.cash) track by $index'}}
      %td
        {{item}}
