.row.text-center
  .col-lg-4
    %span
  .col-lg-4
    .form-group
      %label Initial Investment
      .input-group
        %input{type: 'text', class: 'form-control', id: "amount"}
        %span.input-group-addon $
  .col-lg-4
    %span
.row.text-center
  .col-lg-4
    .form-group
      %label Stocks
      .input-group
        %input{type: 'number', class: 'form-control', id: "stocks"}
        %span.input-group-addon %
  .col-lg-4
    .form-group
      %label Bonds
      .input-group
        %input{type: 'number', class: 'form-control', id: "bounds"}
        %span.input-group-addon %
  .col-lg-4
    .form-group
      %label Cash
      .input-group
        %input{type: 'number', class: 'form-control', id: "cash"}
        %span.input-group-addon %

