.row.text-center
  .col-lg-4
    %span
  .col-lg-4
    .form-group
      %label Initial Investment
      %input{type: 'text', class: 'form-control'}
  .col-lg-4
    %span
.row.text-center
  .col-lg-4
    .form-group
      %label Stocks
      %input{type: 'text', class: 'form-control'}
  .col-lg-4
    .form-group
      %label Bonds
      %input{type: 'text', class: 'form-control'}
  .col-lg-4
    .form-group
      %label Cash
      %input{type: 'text', class: 'form-control'}
