%form{novalidate: ''}
  .row.text-center
    .col-lg-4
      %span
    .col-lg-4
      .form-group.none_change
        %label Please enter the details of your investment portfolio:
        .input-group
          %span.input-group-addon $
          %input.input-text-align-right{placeholder: "Enter Your Initial Investment Amount", type: 'text', class: 'form-control',name: 'investment', id: "amount", ng: {model: 'formInvestment.investment', change: 'pieChart(formInvestment)'}, required:'', data: {symbol: "", thousands: ",", decimal: "."}}
    .col-lg-4
      %span
  .row.text-center
    .col-lg-4
      .form-group
        %label Stocks
        .input-group
          %input.input-text-align-right.my-input{placeholder: "Enter Your Stock Allocation", type: 'number', name: 'stocks', class: 'form-control', id: "stocks", ng: {model: 'formInvestment.stock', change: 'pieChart(formInvestment);validationSumTotal(formInvestment)'}, required: false}
          %span.input-group-addon %
      %h4{ng: {bind: 'showMoney(formInvestment.investment, formInvestment.stock)'}}
    .col-lg-4
      .form-group
        %label Bonds
        .input-group
          %input.input-text-align-right{placeholder: "Enter Your Bond Allocation", type: 'number', name: 'bonds',class: 'form-control', id: "bounds",ng:{model: 'formInvestment.bonds', change: 'pieChart(formInvestment);validationSumTotal(formInvestment)'}, required: false}
          %span.input-group-addon %
      %h4{ng: {bind: 'showMoney(formInvestment.investment, formInvestment.bonds)'}}
    .col-lg-4
      .form-group
        %label Cash
        .input-group
          %input.input-text-align-right{placeholder: "Enter Your Cash Allocation", type: 'number', name: 'cash', class: 'form-control', id: "cash", ng:{model: 'formInvestment.cash', change: 'pieChart(formInvestment);validationSumTotal(formInvestment)'}, required: false}
          %span.input-group-addon %
      %h4{ng: {bind: 'showMoney(formInvestment.investment, formInvestment.cash)'}}

