.row.text-center
  .col-lg-4
    %span
  .col-lg-4
    .form-group
      %label Initial Investment
      %input{type: 'number', class: 'form-control', id: "amount"}
  .col-lg-4
    %span
.row.text-center
  .col-lg-4
    .form-group
      %label Stocks
      %input{type: 'number', class: 'form-control', id: "stocks"}
  .col-lg-4
    .form-group
      %label Bonds
      %input{type: 'number', class: 'form-control', id: "bounds"}
  .col-lg-4
    .form-group
      %label Cash
      %input{type: 'number', class: 'form-control', id: "cash"}
