%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Time Period
      %th Average Annual Return
      %th Best Annual Return
  %tbody
    %tr
      %td 1-Year
      %td.year_1
      %td.year1
    %tr
      %td 3-Year
      %td.year_3
      %td.year3
    %tr
      %td 5-Year
      %td.year_5
      %td.year5
    %tr
      %td 10-Year
      %td.year_10
      %td.year10
    %tr
      %td 20-Year
      %td.year_20
      %td.year20
    %tr
      %td 30-Year
      %td.year_30
      %td.year30