%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Time Period
      %th Worst Annual Return
  %tbody
    %tr
      %td 1-Year
      %td.year_1
    %tr
      %td 3-Year
      %td.year_3
    %tr
      %td 5-Year
      %td.year_5
    %tr
      %td 10-Year
      %td.year_10
    %tr
      %td 20-Year
      %td.year_20
    %tr
      %td 30-Year
      %td.year_30
