%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Time Period
      %th Worst Annual Return
  %tbody
    %tr
      %td 1-Year
      %td
    %tr
      %td 3-Year
      %td
    %tr
      %td 5-Year
      %td
    %tr
      %td 10-Year
      %td
    %tr
      %td 20-Year
      %td
    %tr
      %td 30-Year
      %td
