<h1 class="lead text-center">Portfolio Risk Assessment Tool</h1>
<!-- <div ng-controller="IndexCtrl">
  <h1>{{title}}</h1>
  <p>{{content}}</p>
</div> -->

<%= render 'form_investment'%>
<hr/>
<%= render 'body'%>
<!-- <%= render "barchart"%> -->
<!-- <hr/> -->
<!-- <%= render "piechart"%> -->
